.card {
  background: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.51);
  padding: 16px;
  margin-bottom: 16px;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 0.3s ease;
  border-radius: 5px;
}

.card:hover {
  transform: scale(1.02) translateZ(1px); /* Ajusta el valor de scale y translateZ según sea necesario */
}


.figure {
  margin: 0 0 16px;
  text-align: center;
}

.image {
  max-width: 100%;
  height: auto;
  display: block;
  transition: box-shadow 0.3s ease; /* Transición suave para el efecto */
  border-radius: 5px;
}

.caption {
  font-size: 0.875rem;
  color: #1f1e1e;
  margin-top: 14px;
  width: 100%;
  background: #e9e9e9;
  border-radius: 5px;
}

.icon {
  margin-right: 8px;
  color: #000000; /* Color inicial */
 
}

.icon:hover {
  color: #9c98b3; /* Color al hacer hover */
}


.infoGroup {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
  margin-bottom: 16px;
  width: 100%;
  text-transform: uppercase;
}

.infoItem {
  text-align: center; /* Centra el texto horizontalmente */
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f0f0f0; /* Color de fondo */
  padding: 10px;
 
}

.infoItem:nth-child(odd) {
  justify-self: end; /* Alinea los elementos impares a la derecha */
}


.infoItem p {
  margin: 0;
  margin-left: 4px;
}

.originalCost {
  text-decoration: line-through;
  color: red;
}

.nonstopInfo {
  font-weight: bold;
}

.bookingButtonContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 16px;
}

.bookingButton {
  background: #8DC6BC; /* color de fondo */
  color: #000; /* color de fuente */
  border: 0px solid #000; /* tamaño y color de borde */
  padding: 16px 40px;
  position: relative;
  z-index: 1;
  overflow: hidden;
  display: inline-block;
  transition: all 0.3s ease-in-out;
  border-radius: 5px;
  text-transform: uppercase;

  &:before, &:after {
    content: "";
    z-index: -1;
    position: absolute;
    width: 50%;
    height: 100%;
    top: 0;
    left: -50%;
    background-color: #000; /* color de fondo hover */
    transition: all 0.3s ease-in-out;
  }

  &:after {
    left: 100%;
  }

  &:hover {
    color: #fff; /* color de fuente hover */
  }

  &:hover:before {
    left: 0;
  }

  &:hover:after {
    left: 50%;
  }
}
